@charset "UTF-8";

.maintitle {

}

.title {
	/* 	position: relative;
	padding: 0.1em 0.5em;
	font-size: 20px;
	background: -webkit-linear-gradient(to right, rgb(255, 186, 115),
		transparent);
	background: linear-gradient(to right, rgb(255, 186, 115), transparent);
	color: #545454; */
	padding: 0.2em 0.5em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-color: #2b2b2b;
	background: linear-gradient(to right, rgb(255, 230, 115), #ffffff);
	margin: 0px;
}

.title-NoReturn {
	/* 	position: relative;
	padding: 0.1em 0.5em;
	margin-top: 30px;
	font-size: 20px;
	background: -webkit-linear-gradient(to right, rgb(255, 186, 115),
		transparent);
	background: linear-gradient(to right, rgb(255, 186, 115), transparent); */
	padding: 0.2em 0.5em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-color: #2b2b2b;
	background: linear-gradient(to right, rgb(255, 230, 115), transparent);
	color: #545454;}

input.flat-btn {
	-webkit-appearance: none;
	border-style: none;
	display: inline-block;
	padding: 0.5em 2em;
	text-decoration: none;
	text-align: center;
	background: #ffffff;
	color: #232323;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	float: left;
	margin-right: 10px;
	margin-left: 20px;
	font-size: 1.3em;
	font-weight: bold;
}

input.flat-btn:hover {
	-webkit-appearance: none;
	border-style: none;
	padding: 0.5em 2em;
	background: #67c5ff;
	border: solid 2px #ffffff;
	color: white;
}

input.flat-btn2 {
	-webkit-appearance: none;
	border-style: none;
	display: inline-block;
	padding: 0.4em 0.8em;
	text-decoration: none;
	background: #ffffff;
	color: #232323;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	float: left;
	margin-right: 10px;
	margin-left: 20px;
	font-size: 0.9em;
	font-weight: bold;
}

input.flat-btn2:hover {
	-webkit-appearance: none;
	border-style: none;
	padding: 0.4em 0.8em;
	background: #67c5ff;
	border: solid 2px #ffffff;
	color: white;
}

input.search-btn {
	-webkit-appearance: none;
	border-style: none;
	display: inline-block;
	padding: 0.2em 1em;
	text-decoration: none;
	background: #ffffff;
	color: #232323;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	margin-left: 10px;
	font-size: 0.8em;
	float: left;
}

input.search-btn:hover {
	-webkit-appearance: none;
	border-style: none;
	padding: 0.2em 1em;
	background: #67c5ff;
	border: solid 2px #ffffff;
	color: white;
}

input.next-btn {
	-webkit-appearance: none;
	border-style: none;
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #ffffff;
	color: #232323;
	border: solid 2px #ff6666;
	border-radius: 3px;
	font-size: 15px;
	font-weight: bold;
	margin: 10px;
}

input.next-btn:hover {
	-webkit-appearance: none;
	border-style: none;
	padding: 0.5em 1em;
	background: #ff6666;
	border: solid 2px #ffffff;
	color: white;
	margin: 10px;
}

input.next-btn2 {
	-webkit-appearance: none;
	border-style: none;
	display: inline-block;
	padding-right: 1em;
	padding-left: 1em;
	text-decoration: none;
	color: #232323;
	background: #ffffff;
	border: solid 2px #ff6666;
	border-radius: 3px;
	font-size: 12px;
}

input.next-btn2:hover {
	-webkit-appearance: none;
	border-style: none;
	padding-right: 1em;
	padding-left: 1em;
	background: #ff6666;
	border: solid 2px #ffffff;
	color: white;
}

input.next-btn3 {
	-webkit-appearance: none;
	border-style: none;
	display: inline-block;
	padding-right: 1em;
	padding-left: 1em;
	text-decoration: none;
	color: #232323;
	background: #ffffff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	font-size: 12px;
}

input.next-btn3:hover {
	-webkit-appearance: none;
	border-style: none;
	padding-right: 1em;
	padding-left: 1em;
	background: #67c5ff;
	border: solid 2px #ffffff;
	color: white;
}

input.Return {
	-webkit-appearance: none;
	margin: 20px 0px 10px 0px;
	border-style: none;
	display: inline-block;
	padding: 0.3em 1em;
	background: #ffffff;
	text-decoration: none;
	color: #ffa347;
	border: solid 2px #ffa347;
	border-radius: 3px;
	font-size: 0.8em;
	font-weight: bold;
}

input.Return:hover {
	-webkit-appearance: none;
	border-style: none;
	padding: 0.3em 1em;
	background: #ffa347;
	border: solid 2px #ffffff;
	color: white;
}

.select-box {
	padding: 0.5em 1em;
	margin: 2em 0;
	background: repeating-linear-gradient(-45deg, #fffacd, #fffacd 3px, #ffffe0 3px,
		#ffffe0 7px);
	border-radius: 8px;
}

.CookInfo-field {
	padding: 0.5em 1em;
	margin: 2em 0;
	background: repeating-linear-gradient(-45deg, #fffacd, #fffacd 3px, #ffffe0 3px,
		#ffffe0 7px);
	border-radius: 8px;
	border: solid 2px #000;
}

.float {
	float: left;
}

label.float {
	float: left;
	margin-right: 5px;
}

h4.float-text {
	float: left;
	margin-right: 10px
}

div.cookInfo-project {
	float: left;
	padding: 10px 20px 10px 0px;
}

label.projectName {
	padding-right: 10px;
}

label.people {
	padding-right: 10px;
}

div.cookInfo-menu {
	float: left;
	padding: 10px 10px 10px 0px;
}

div.cookInfo-people {
	clear: both;
	padding: 10px 10px 10px 0px;
}

label.menuName {
	padding-left: 20px;
	float: left;
}

span.menuName {
	float: left;
	font-weight: bold;
	padding-left: 10px;
	font-size: 110%;
}

div.parent-block {
	position: relative;
}

input.parent-block {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

span.parent-block {
	top: 50%;
	font-size: 1em;
	transform: translateY(-50%);
	margin-left: 0px;
	margin-right: 15px;
	font-weight: bold;
}

label.parent-block {
	margin-right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

div.alert {
	background-color: #FFEFEF;
	margin: 0 0 1em 0;
	padding: 5px;
	color: #C25338;
	border: 1px solid #D4440D;
	line-height: 1.5;
	clear: both;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.clear {
	clear: both;
}